/* место для вашего кода */

/*----------------------------------------------Шапка------------------------------------------------------------*/
/*
header — вся шапка;
header__menu — контейнер навигации;
header__links-list — список ссылок;
header__links-list-item — пункт списка ссылок;
header__links-list-item_no-bullit — этот класс может потребоваться, чтобы сделать ссылку без кружочка;
header__link — ссылка;
header__link_active — активная ссылка;
header__logo — контейнер логотипа;
header__logo-image — картинка с логотипом;
address — контейнер с адресом;
header__address — для выравнивания блока с адресом. В футере используется другое выравнивание.
*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93.16px 52.5px 94px 50px;
  background-color: #fff;;
}

.menu {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.menu-list_active {
  text-decoration: none;
  list-style: none;
}

.menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  justify-self: center;
  width: 134px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

header .address {
  width: 236px;
}

.address p {
  font-style: normal;
}

.address a {
  border-bottom: 1px solid #000;
  font-style: normal;
  text-decoration: none;
}

/*-----------------------------Основной блок---------------------------------------------------------*/

.main {
  display: block;
  background-color: #fff;
}

/*-----------------------------Заголовок---------------------------------------------------------*/

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  line-height: 1.58;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.content-img {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
}

.description {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  align-content: center;
  gap: 110px;
  margin-top: 106px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0.6;
  background-color: #000;
}

/*-----------------------------Карточки---------------------------------------------------------*/
/*
lots — вся секция;
lots__heading — заголовок секции;
--lots__card-list — список карточек;
lots__card-list-item — пункт списка карточек;
!card-link — ссылка, обрамляющая карточку;
card — карточка;
card_type_film , card_type_book и card_type_picture — классы для фона каждой из карточек;
overlay — такой класс уже есть в вашем коде;
card__title — заголовок карточки;
card__text — текст карточки;
lots__look-more-link — ссылка «Посмотреть больше».*/

.lots {
  padding: 180px 24px 118px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

/**********************************************************************************/
/*.lots__card-list-item,
.card-link, .card .card__title,  
.lots__card-list,.lots__look-more-link
{
  text-decoration:none;
  font-style:normal;
  list-style: none;
  border-bottom:1px,solid,#000;
 }*/

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  color: #fff;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  z-index: 1;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.5px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*****************************************************************************************/

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.lots a {
  border-bottom: 1px solid #000;
  font-style: normal;
  text-decoration: none;
}

/*---------------------------Аукцион-----------------------------------------------------------*/
/*
about — вся секция;
about__column — класс для колонок;
about__logo — контейнер с логотипом;
about__logo-image — изображение логотипа;
about__title — заголовок секции;
about__text — блок для текстов (параграфов) секции.
*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding: 35px 24px 0px;
  background-color: #fff;
}

.about__logo {
  position: relative;
  grid-row: 1/ span 2;
  justify-self: center;
  align-self: start;
  width: 240px;
  height: 240px;
  border-radius: 120px 120px;
  background-color: #000;
  background-size: contain;
}

.about__title {
  grid-column: 2;
  justify-self: start;
  align-self: center;
  margin-bottom: 75px;
  padding-top: 101px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  flex-wrap: wrap;
  grid-column: 2;
  grid-row: 2;
  align-content: start;
  padding-right: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}

.about__text p {
  margin-top: 24px;
}

.about__logo-image {
  position: absolute;
  inset: 64px 45.5px;
  width: 148px;
  height: 114px;
}

/*--------------------------------Подвал------------------------------------------------------*/
/*
footer — подвал;
address — такой класс уже есть в вашей вёрстке, все вложенные элементы аналогичны;
footer__menu — блок навигации по списку ссылок. Рекомендуем вложить список в тег <nav> с этим классом;
footer__menu-list — список пунктов меню;
footer__menu-list-item — пункт списка меню;
footer__menu-link — ссылка меню;
footer__menu-link_active — активная ссылка меню (без подчёркивания);
footer__social-list — список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что ссылки ведут на внешние ресурсы;
footer__social-list-item — пункт списка ссылок на социальные сети;
footer__social-link — ссылка на социальные сети;
footer__social-icon — иконка социальной сети.
*/

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  gap: 100px;
  min-height: 360px;
  padding: 180px 50px 82px 51px;
  background-color: #fff;
}

.footer .address {
  display: block;
  justify-self: start;
}

.footer .menu-list {
  display: block;
}

.footer .menu-list-item {
  justify-self: center;
}

.footer__social-list {
  display: flex;
  justify-content: right;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
