/* место для вашего кода */

.content_text_white {
  color: #fff;
}

.content_text_black {
  color: #000;
}
/*----------------------------------------------Шапка------------------------------------------------------------*/
/*
header — вся шапка;
header__menu — контейнер навигации;
header__links-list — список ссылок;
header__links-list-item — пункт списка ссылок;
header__links-list-item_no-bullit — этот класс может потребоваться, чтобы сделать ссылку без кружочка;
header__link — ссылка;
header__link_active — активная ссылка;
header__logo — контейнер логотипа;
header__logo-image — картинка с логотипом;
address — контейнер с адресом;
header__address — для выравнивания блока с адресом. В футере используется другое выравнивание.
*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding-right: 52.5px;
  padding-left: 50px;
  background-color: #fff;
}

.header_menu {
  width: 391.5px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 134px;
}

.header__address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: end;
  gap: 1.3px;
  width: 236px;
  font-size: 18px;
  line-height: 1.35;
}

.address a {
  border-bottom: 1px solid #000;
  font-style: normal;
  line-height: 1.35;
  text-decoration: none;
}

/*-----------------------------Основной блок---------------------------------------------------------*/

.main {
  display: block;
  background-color: #fff;
}

/*-----------------------------Заголовок---------------------------------------------------------*/

.cover {
  position: relative;
  height: 757px;
  padding: 165px 50px 50px;
}

.cover__title {
  position: relative;
  z-index: 1;
  height: 385px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  line-height: 1.58;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.content-img {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
}

.description {
  position: relative;
  top: 106px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500px;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0.6;
  background-color: #000;
}
/*-----------------------------Карточки---------------------------------------------------------*/
/*
lots — вся секция;
lots__heading — заголовок секции;
lots__card-list — список карточек;
lots__card-list-item — пункт списка карточек;
!card-link — ссылка, обрамляющая карточку;
card — карточка;
card_type_film , card_type_book и card_type_picture — классы для фона каждой из карточек;
verlay — такой класс уже есть в вашем коде;
card__title — заголовок карточки;
card__text — текст карточки;
lots__look-more-link — ссылка «Посмотреть больше».*/

.lots {
  min-height: 723px;
  padding: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 596px;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  height: 596px;
  object-fit: cover;
  background-size: contain;
}

.card__title {
  position: absolute;
  inset: 48px 40px;
  z-index: 1;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: absolute;
  right: 40px;
  bottom: 48px;
  left: 40px;
  z-index: 1;
  font-size: 20px;
  line-height: 1, 2;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 40px;
  border-bottom: 1px solid black;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
}

/*---------------------------Аукцион-----------------------------------------------------------*/
/*
about — вся секция;
about__column — класс для колонок;
about__logo — контейнер с логотипом;
about__logo-image — изображение логотипа;
about__title — заголовок секции;
about__text — блок для текстов (параграфов) секции.
*/

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  min-height: 595px;
  padding: 0px 24px;
  background-color: #fff;
}

.about__logo {
  position: relative;
  grid-row: 1/3;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 120px 120px;
  background-color: #000;
}

.about__title {
  grid-column: 2 / span 2;
  margin-top: 106px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  align-content: start;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}

.about__text p,
.about__text {
  width: 688px;
  margin-top: 24px;
}

.about__logo-image {
  position: absolute;
  inset: 64px 45.5px;
  width: 148px;
  height: 114px;
}

/*--------------------------------Подвал------------------------------------------------------*/
/*
footer — подвал;
address — такой класс уже есть в вашей вёрстке, все вложенные элементы аналогичны;
footer__menu — блок навигации по списку ссылок. Рекомендуем вложить список в тег <nav> с этим классом;
footer__menu-list — список пунктов меню;
footer__menu-list-item — пункт списка меню;
footer__menu-link — ссылка меню;
footer__menu-link_active — активная ссылка меню (без подчёркивания);
footer__social-list — список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что ссылки ведут на внешние ресурсы;
footer__social-list-item — пункт списка ссылок на социальные сети;
footer__social-link — ссылка на социальные сети;
footer__social-icon — иконка социальной сети.
*/

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  gap: 100px;
  height: 360px;
  padding: 151.5px 50px 82px 51px;
  background-color: #fff;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
}

.footer__menu-list {
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  display: flex;
  justify-content: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: right;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
